<div class="calendar-wrapper">
  <div class="calendar-header-wrapper">
    <div>
      <h4 class="title">My Calendar</h4>

      <p>Selected date: {{ selectedDate }}</p>
    </div>
    <div>
      <mat-icon>settings</mat-icon>

      <!-- <button mat-raised-button color="primary">Primary</button> -->
    </div>
  </div>

  <div>
    <mat-card class="inline-calendar-card">
      <mat-calendar
        [(selected)]="selectedDate"
        (selectedChange)="onChangeDate()"
      ></mat-calendar>
    </mat-card>
  </div>

  <!-- <mat-divider></mat-divider> -->

  <div class="calendar-items">
    <div class="first-col">
      @for (hour of hours; track hour.time) {
      <div class="example-box time-item">
        <div class="hour">
          {{ hour.name }}
        </div>
        &nbsp;
      </div>
      }
    </div>
    <div class="second-col">
      <!-- @for (hour of hours; track hour.time) {
      <div class="event-item">&nbsp;</div>
      } -->

      <div
        cdkDropList
        [cdkDropListData]="events"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of events; track item;) {
        <div
          class="example-box"
          [class.active]="$index === 0"
          cdkDrag
          [cdkDragDisabled]="$index !== 0"
          (click)="onModifyEvent($index)"
        >
          {{ item.title || "(No title)" }}
        </div>
        }
      </div>
    </div>
  </div>
</div>
