<h2 mat-dialog-title>Modify Event</h2>
<form class="col-12" [formGroup]="eventForm" (ngSubmit)="onSaveEvent()">
  <mat-dialog-content>
    <!-- <p>What's your favorite animal?</p> -->
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.title" cdkFocusInitial>
      Save
    </button>
  </mat-dialog-actions>
</form>
